body
{
background-color:black;
font-family: 'Times New Roman', Times, serif;
}
.boxes{
    display: grid;
    justify-content: center; 
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
}
.main
{
    height: 150px;
    width: 150px;
    margin: 8px;
    border-width: 5px ;
    border-style:solid; 
    border-image: linear-gradient(to bottom right,rgb(85, 84, 84),rgb(218, 216, 216))1;
}
img{
    height:150px;
    width:150px;
}
h1
{ 
    color: aliceblue;
    text-align: center;
}
.Reset
{
    background-color: rgb(90, 91, 92);
    border-radius: 10px;
    border:1px solid rgb(247, 239, 239);
    margin: 12px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 550;
    color: rgb(247, 239, 239);
    position:relative;
    left:695px;
}
.overlay
{
    width:100%;
    height:100%;
    filter:blur(15px);
}
.showBox
{
    background:linear-gradient(135deg,rgb(72, 67, 67),#f7f5f5,rgb(109, 101, 101));
    height: 100px;
    width: 300px;
    top:220px;
    font-weight: 600;
    padding-top: 20px;
    font-size: 30px;
}
.showButton
{
    height:30px;
    width: 100px;  
    background:linear-gradient(to bottom,rgb(158, 155, 155),#d4cece);
    border:2px solid black;
    top:286px;
    padding-top: 10px;
    font-weight: 550;
}
.showBox,.showButton
{
    margin:0 auto;
    left:0;
    right:0;
    border-radius:10px;
    position: absolute;
    text-align:center;
}